@model MvcAjaxCrud.Models.Student

@{
    ViewBag.Title = "Create";
}

<h2 class="text-info">Create New Student</h2>
<hr />

<form method="post" id="createStudent">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label>Name <span class="text-danger">*</span></label>
                <input name="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label>Registration No. <span class="text-danger">*</span></label>
                <input name="RegistrationNo" class="form-control" />
            </div>

            <div class="form-group">
                <label>Department</label>
                <select name="DepartmentId" class="form-control">
                    <option value="0">Select Department</option>
                    @foreach (var dept in Model.Departments)
                    {
                        <option value="@dept.Id">@dept.Name</option>
                    }
                </select>
            </div>

        </div>
    </div>

    <button id="btnSave" class="btn btn-success" type="button">Save</button>
    <button id="btnCancel" class="btn btn-warning" type="button">Cancel</button>
</form>

<script>
    $("#btnSave").click(function () {
        $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Students")',
                data: $("#createStudent").serialize()

            }).done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");

                focusAction("tableContainer");

            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed to Save")
            });
    });

    $("#btnCancel").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>