
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="actionContainer">
        @* child actions to be rendered here *@
    </div>

    <div id="tableContainer">
        @{
            Html.RenderAction("StudentTable");
        }
    </div>
</div>



