@model MvcAjaxCrud.Models.Department

@{
    ViewBag.Title = "Create";
}

<h2 class="text-info">Create New Department</h2>
<hr />

<form method="post" id="createDepartment">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label>Name <span class="text-danger">*</span></label>
                <input name="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label>Abbr <span class="text-danger">*</span></label>
                <input name="Abbr" class="form-control" />
            </div>
        </div>
    </div>

    <button id="btnSave" class="btn btn-success" type="button">Save</button>
    <button id="btnCancel" class="btn btn-warning" type="button">Cancel</button>

</form>
<hr />

<script>
    $("#btnSave").click(function () {

        //if ($("#createDepartment").valid()) {


        //}
        //else {
        //    alert("Failed to Save")
        //}

        $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Departments")',
                data: $("#createDepartment").serialize()

            }).done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");

                focusAction("tableContainer");

            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed to Save")
            });
    });

    $("#btnCancel").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>


