@model MvcAjaxCrud.Models.Department

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-info">Edit Department</h2>
<hr />

<form method="post" id="editDepartment">
    <input name="Id" value="@Model.Id" hidden />

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label>Name <span class="text-danger">*</span></label>
                <input name="Name" value="@Model.Name" class="form-control" />
            </div>

            <div class="form-group">
                <label>Abbr <span class="text-danger">*</span></label>
                <input name="Abbr" value="@Model.Abbr" class="form-control" />
            </div>
        </div>
    </div>

    <button id="btnUpdate" class="btn btn-success" type="button">Update</button>
    <button id="btnCancel" class="btn btn-warning" type="button">Cancel</button>
</form>

<script>
    $("#btnUpdate").click(function () {

        $.ajax({
                type: 'POST',
                url: '@Url.Action("Edit", "Departments")',
                data: $("#editDepartment").serialize()

            }).done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");

                focusAction("tableContainer");

            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed to Save")
            });
    });

    $("#btnCancel").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>