@model MvcViewModelCrud.Models.Department

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Delete Department</h2>
<hr>
<h3 class="text-info">Are you sure you want to delete this department?</h3>

<form method="post">
    <input name="Id" value="@Model.Id" hidden />

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <input name="Name" value="@Model.Name" class="form-control" readonly />
            </div>

        </div>
    </div>

    <button href="@Url.Action("Delete", "Departments")" class="btn btn-primary">Delete</button>
    <a href="@Url.Action("Index", "Departments")" class="btn btn-danger">Cancel</a>
</form>